<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Attendance_System.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=orainst1.cisclfdiuyna.us-east-2.rds.amazonaws.com:1521/ORADB:/;PASSWORD=masterpassword;PERSIST SECURITY INFO=True;USER ID=SA"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>